<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>

</head>
<body>

<div th:include="menu :: header"></div>

<br>
<br>
<br>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>N</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Должность</th>
            <th>Отдел</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${employees}">
            <td th:utext="${item.id}"></td>
            <td th:utext="${item.firstName}"></td>
            <td th:utext="${item.lastName}"></td>
            <td th:utext="${item.jobPosition.name}"></td>
            <td th:utext="${item.department.name}"></td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<br>

</body>
</html>